.container {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  width: 100vw;
}

.videoPlayer {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  width: 100vw;
  object-fit: cover;
}

.buttonWrapper {
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.buttonWrapper button {
  padding: 5%;
  margin-bottom: 5%;
  border-radius: 100%;
  font-size: 3vw;
}

.image {
  position: absolute;
  z-index: 900;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  display: flex;
}
